node_modules
# --- ENTORNOS Y CREDENCIALES (¡SÚPER IMPORTANTE!) ---
.env
backend/.env
backend/node_modules/
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# --- DEPENDENCIAS ---
node_modules/
jspm_packages/
# (Nota: a veces se sube el lockfile, pero node_modules NUNCA debe subirse)

# --- ARCHIVOS DE COMPILACIÓN / PRODUCCIÓN ---
dist/
build/
.next/
out/

# --- LOGS Y DEPURACIÓN ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# --- CONFIGURACIONES DEL EDITOR (Opcional) ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
coverage/

# Added by ggshield
.cache_ggshield
